.wax-custom-settings__content{
	background: hsl(240deg 3% 98%);
	padding: 20px;
}
.wax-custom-settings__container{
	max-width: 1000px;
}
.wax-custom-settings input:invalid{
	border-color:crimson;
}
.wax-custom-settings .components-tab-panel__tabs{
	border-bottom: 1px solid #ddd;
}
.wax-components-field_title{
	font-size: 13px;
}
.wax-components-field{
	margin-top: 25px;
}
.wax-components-field__label{
	font-size: 13px;
	margin: 0 0 8px;
	line-height: 1.4em;
}
.wax-components-field__help{
	font-size: 12px;
	font-style: normal;
	color: rgb(117, 117, 117);
}
.wax-components-field__btn-img-upload{
	color:#1e1e1e!important;
}
.wax-components-field__btn-img-upload, .wax-components-field__btn-img-remove{
	margin: 0 10px 0 0!important;
}
.wax-components-field__btn-img-remove.is-link{
	display: inline-block;
}
.wax-components-field__btn-img-upload.has-icon{
	display: -ms-flexbox!important;
	display: flex!important;
	-ms-flex-direction: column!important;
	    flex-direction: column!important;
	-ms-flex-pack:center!important;
	    justify-content:center!important;
	background-color: #f0f0f0!important;
	border-radius:2px!important;
	line-height: 20px!important;
	min-height: 50px!important;
	padding: 8px!important;
	text-align: center!important;
	border:0!important;
	box-shadow:none!important;
	-webkit-appearance: none!important;
}

.wax-components-field_btn-img-upload.has-icon:hover,
.wax-components-field_btn-img-upload.has-icon:focus,
.wax-components-field_btn-img-upload.has-icon:active{
	background-color: #ddd!important;
}

.wax-components-field__img{
	max-height: 350px;
	width: auto;
}
.wax-custom-settings__repeater .wax-components-field__img,
.wax-custom-settings__section .wax-components-field__img{
	max-height: 250px;
}
.wax-components-field__checkbox,
.wax-components-field__toggle{
	margin-top: 30px;
}
.wax-components-drop-zone.components-button.has-icon{
	background-color: hsl(0deg 0% 90%);
	border-radius: 2px;
	padding: 20px 30px;
}

.wax-custom-settings__container.wax-custom-settings__section .components-panel__row{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
		-webkit-column-gap: 50px;
		   -moz-column-gap: 50px;
		        column-gap: 50px;
	-ms-flex-align: flex-start;
	    align-items: flex-start;
}

.wax-components-field__repeater{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-column-gap: 50px;
	   -moz-column-gap: 50px;
			column-gap: 50px;
-ms-flex-align: flex-start;
	align-items: flex-start;
	padding-right: 20px;
}

.wax-custom-settings__container.wax-custom-settings__repeater .components-panel__row{
	display: block;
}

.wax-custom-settings__container.wax-custom-settings__section .components-panel__row>.wax-components-field{
	-ms-flex-positive: 1;
	    flex-grow: 1;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
}

.wax-custom-settings__add-row{
	margin-top: 20px!important;
}

.wax-repeater-newline{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

.wax-custom-settings__remove-row{
	position: absolute!important;
	right: -5px!important;
	margin-top: 48px!important;
	width:19px!important;
	min-width:19px!important;
	height:19px!important;
	min-height:19px!important;
	text-align: center!important;
	vertical-align: middle!important;
	line-height: 19px!important;
	padding: 0!important;
	border-radius: 50%!important;
	color:#b0b0b0!important;
	border-color:#b0b0b0!important;
}
.wax-custom-settings__remove-row:hover,
.wax-custom-settings__remove-row:focus,
.wax-custom-settings__remove-row:active{
	color:var(--wp-admin-theme-color-darker-10)!important;
	border-color:var(--wp-admin-theme-color-darker-10)!important;
}

.wax-custom-settings__remove-row.components-button.has-icon .dashicon{

	width:18px!important;
	min-width:18px!important;
	height:18px!important;
	min-height:18px!important;
	margin-left: 0!important;
	margin-right: 0!important;
	margin: auto!important;
	font-size: 18px!important;
}
