.webaxones-options__content{
	background: hsl(240deg 3% 98%);
	padding: 20px;
}
.webaxones__container{
	max-width: 2000px;
}
.webaxones-options input:invalid{
	border-color:crimson;
}
.webaxones-options .components-tab-panel__tabs{
	border-bottom: 1px solid #ddd;
}
.webaxones-field{
	margin-top: 25px;
}
.webaxones-field__selectdata input[type='text']{
	min-height: 24px;
}
.webaxones-field__text input[type='text']{
	min-height: 32px;
	line-height: 1.67;
}
.webaxones-field__label{
	font-size: 13px;
	margin: 0 0 8px;
	line-height: 1.4em;
}
.webaxones-field__help{
	font-size: 12px;
	font-style: normal;
	color: rgb(117, 117, 117);
}
.webaxones-field__btn-img-upload{
	color:#1e1e1e!important;
}
.webaxones-field__btn-img-upload, .webaxones-field__btn-img-remove{
	margin: 0 10px 0 0!important;
}
.webaxones-field__btn-img-remove.is-link{
	display: inline-block;
}
.webaxones-field__btn-img-upload.has-icon{
	display: -ms-flexbox!important;
	display: flex!important;
	-ms-flex-direction: column!important;
	    flex-direction: column!important;
	-ms-flex-pack:center!important;
	    justify-content:center!important;
	background-color: #f0f0f0!important;
	border-radius:2px!important;
	line-height: 20px!important;
	min-height: 50px!important;
	padding: 8px!important;
	text-align: center!important;
	border:0!important;
	box-shadow:none!important;
	-webkit-appearance: none!important;
}

.webaxones-field__btn-img-upload.has-icon:hover,
.webaxones-field__btn-img-upload.has-icon:focus,
.webaxones-field__btn-img-upload.has-icon:active{
	background-color: #ddd!important;
}

.webaxones-field__img{
	max-height: 350px;
	width: auto;
}
.webaxones-field__repeater .webaxones-field__img,
.webaxones-field__section .webaxones-field__img{
	max-height: 250px;
}
.webaxones-field__checkbox,
.webaxones-field__toggle{
	margin-top: 34px;
}
.webaxones-field__checkbox .components-base-control__help,
.webaxones-field__toggle .components-base-control__help{
	margin-top: 1.2em;
}

.webaxones__container.webaxones-field__section .components-panel__row{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
		-webkit-column-gap: 50px;
		   -moz-column-gap: 50px;
		        column-gap: 50px;
	-ms-flex-align: flex-start;
	    align-items: flex-start;
}

.webaxones-field__repeater__content{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-column-gap: 50px;
	   -moz-column-gap: 50px;
			column-gap: 50px;
-ms-flex-align: flex-start;
	align-items: flex-start;
	padding-right: 20px;
}

.webaxones__container.webaxones-field__repeater .components-panel__row{
	display: block;
}

.webaxones__container.webaxones-field__section .components-panel__row>.webaxones-field{
	-ms-flex-positive: 1;
	    flex-grow: 1;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
}

.webaxones-field__repeater__add-row{
	margin-top: 20px!important;
}

.webaxones-field__repeater__newline{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

.webaxones-field__repeater__btn--round{
	display: -ms-flexbox!important;
	display: flex!important;
	-ms-flex-align: center!important;
	    align-items: center!important;
	-ms-flex-pack: center!important;
	    justify-content: center!important;
	position: absolute!important;
	right: -5px!important;
	width:19px!important;
	min-width:19px!important;
	height:19px!important;
	min-height:19px!important;
	text-align: center!important;
	vertical-align: middle!important;
	line-height: 19px!important;
	padding: 0!important;
	border-radius: 50%!important;
	color:#b0b0b0!important;
	border-color:#b0b0b0!important;
	opacity: .9;
}
.webaxones-field__repeater__btn--round:hover,
.webaxones-field__repeater__btn--round:focus,
.webaxones-field__repeater__btn--round:active{
	color:var(--wp-admin-theme-color-darker-10)!important;
	border-color:var(--wp-admin-theme-color-darker-10)!important;
}
.webaxones-field__repeater__btn--round.components-button.has-icon .dashicon{
	width:18px!important;
	min-width:18px!important;
	height:18px!important;
	min-height:18px!important;
	margin-left: 0!important;
	margin-right: 0!important;
	margin: auto!important;
	font-size: 18px!important;
}
.webaxones-field__repeater__btn--round.webaxones-field__repeater__remove-row{
	margin-top: 55px!important;
}
.webaxones-field__repeater__btn--round.webaxones-field__repeater__move-up{
	margin-top: 25px!important;
}
.webaxones-field__repeater__btn--round.webaxones-field__repeater__move-down{
	margin-top: 84px!important;
}
.webaxones-field__repeater__btn--round.webaxones-field__repeater__move-up .dashicon,
.webaxones-field__repeater__btn--round.webaxones-field__repeater__move-down .dashicon{
	padding-right: 1px;
	padding-bottom: 1px;
}
