.wax-custom-settings input:invalid{
	border-color:crimson;
}
.wax-custom-settings .components-tab-panel__tabs{
	border-bottom: 1px solid #ddd;
}
.wax-components-field__label{
	font-size: 13px;
}
.wax-components-field__help{
	font-size: 12px;
	font-style: normal;
	color: rgb(117, 117, 117);
}
.wax-components-field__img{
	max-width: 500px;
	height: auto;
}